Section 3

Section 3: Comment: The proliferation of cryptographic components is not desired because it hinders interoperability.  Suggest:   "Although a proliferation of cryptographic components hinders interoperability..."


(Apparently everything in the IETF is about interoperability - See RFC 2119, Section 6 - 'where it is actually required for interoperation'.) 